In [1]:
import pandas as pd
df=pd.read_csv('train_update.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,Unnamed: 8,Unnamed: 9,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1.0,60.0,RL,65.0,8450.0,Pave,NaN,Reg,NaN,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2.0,20.0,RL,NaN,9600.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3.0,60.0,RL,68.0,NaN,Pave,NaN,IR1,NaN,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4.0,70.0,RL,60.0,NaN,Pave,NaN,NaN,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5.0,60.0,RL,84.0,14260.0,NaN,NaN,NaN,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

Unique-> show data in columns

In [2]:
df['SaleCondition'].unique()

array(['Normal', 'Abnorml', 'Partial', 'AdjLand', 'Alloca', 'Family'],
      dtype=object)

OrdinalEncoder

In [5]:
from sklearn.preprocessing import OrdinalEncoder
arr=[['Normal', 'Abnorml', 'Partial', 'AdjLand', 'Alloca', 'Family']]
Oe=OrdinalEncoder(categories=arr)
df['SaleCondition_new']=Oe.fit_transform(df[['SaleCondition']])
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,Unnamed: 8,Unnamed: 9,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1.0,60.0,RL,65.0,8450.0,Pave,NaN,Reg,NaN,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,0.0,208500
1,2.0,20.0,RL,NaN,9600.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,0.0,181500
2,3.0,60.0,RL,68.0,NaN,Pave,NaN,IR1,NaN,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,0.0,223500
3,4.0,70.0,RL,60.0,NaN,Pave,NaN,NaN,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,1.0,140000
4,5.0,60.0,RL,84.0,14260.0,NaN,NaN,NaN,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,0.0,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456.0,60.0,RL,62.0,7917.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,0.0,175000
1456,1457.0,20.0,RL,85.0,13175.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,0.0,210000
1457,1458.0,70.0,RL,66.0,9042.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,0.0,266500
1458,1459.0,20.0,RL,68.0,9717.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,0.0,142125
1459,1460.0,20.0,RL,75.0,9937.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,0.0,147500

In [ ]:
import pandas as pd
df=pd.DataFrame({'Size':['s','m','l','xl','m','s','l','m','xl']})
df
df['Size'].unique()
Oe=OrdinalEncoder(categories=[['s', 'm', 'l', 'xl']])
df['Size_new']=Oe.fit_transform(df[['Size']])
df

  Size  Size_new
0    s       0.0
1    m       1.0
2    l       2.0
3   xl       3.0
4    m       1.0
5    s       0.0
6    l       2.0
7    m       1.0
8   xl       3.0

Map Function Through Ordinal Encoding

In [12]:
import pandas as pd
df=pd.read_csv('train_update.csv')
df['SaleCondition'].unique()
dict={
    'Normal':0,
    'Abnorml':1,
    'Partial':2,
    'AdjLand':3,
    'Alloca':4,
    'Family':5,
}
df['SaleCondition']=df['SaleCondition'].map(dict)
df.head(20)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,Unnamed: 8,Unnamed: 9,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1.0,60.0,RL,65.0,8450.0,Pave,NaN,Reg,NaN,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,0,208500
1,2.0,20.0,RL,NaN,9600.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,0,181500
2,3.0,60.0,RL,68.0,NaN,Pave,NaN,IR1,NaN,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,0,223500
3,4.0,70.0,RL,60.0,NaN,Pave,NaN,NaN,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,1,140000
4,5.0,60.0,RL,84.0,14260.0,NaN,NaN,NaN,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,0,250000
5,6.0,50.0,RL,85.0,14115.0,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,0,143000
6,7.0,20.0,RL,75.0,NaN,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,0,307000
7,8.0,60.0,NaN,NaN,10382.0,Pave,NaN,IR1,NaN,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,0,200000
8,9.0,NaN,RM,51.0,6120.0,Pave,NaN,Reg,Lvl,NaN,...,0,NaN,NaN,NaN,0,4,2008,WD,1,129900
9,10.0,190.0,RL,50.0,7420.0,Pave,NaN,NaN,NaN,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,0,118000
10,NaN,20.0,NaN,70.0,11200.0,Pave,NaN,NaN,Lvl,NaN,...,0,NaN,NaN,NaN,0,2,2008,WD,0,129500
11,NaN,60.0,NaN,85.0,11924.0,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,0,7,2006,New,2,345000
12,NaN,20.0,RL,NaN,12968.0,Pave,NaN,NaN,Lvl,NaN,...,0,NaN,NaN,NaN,0,9,2008,WD,0,144000
13,NaN,20.0,NaN,91.0,10652.0,Pave,NaN,NaN,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,New,2,279500
14,15.0,NaN,NaN,NaN,10920.0,NaN,NaN,IR1,NaN,AllPub,...,0,NaN,GdWo,NaN,0,5,2008,WD,0,157000
15,16.0,NaN,NaN,NaN,6120.0,Pave,NaN,Reg,Lvl,NaN,...,0,NaN,GdPrv,NaN,0,7,2007,WD,0,132000
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IR1,Lvl,NaN,...,0,NaN,NaN,Shed,700,3,2010,WD,0,149000
17,NaN,90.0,RL,72.0,10791.0,NaN,NaN,NaN,Lvl,AllPub,...,0,NaN,NaN,Shed,500,10,2006,WD,0,90000
18,19.0,20.0,RL,66.0,13695.0,NaN,NaN,NaN,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,0,159000
19,20.0,20.0,RL,70.0,7560.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,5,2009,COD,1,139000

In [13]:
import pandas as pd
df=pd.DataFrame({'Area':['5 Marla','10 Marla','1 Kanal','2 Kanal']})
dict={
    '5 Marla':5,
    '10 Marla':10,
    '1 Kanal':1,
    '2 Kanal':2
}
df['Area_new']=df['Area'].map(dict)
df

       Area  Area_new
0   5 Marla         5
1  10 Marla        10
2   1 Kanal         1
3   2 Kanal         2